{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Change your password{% endblock %}

{% block content %}
    <h1>Change your password</h1>
    <p>Use the form below to change your password.</p>
    <form method="post">
        {{ form|crispy }}
        {% csrf_token %}
        <!-- <p><input class="btn btn-primary btn-lg" type="submit" value="Change"></p> -->
        <button type="submit" class="btn btn-primary btn-lg">
            <i class="fa-solid fa-floppy-disk"></i>&nbsp;Save
        </button>
    </form>
{% endblock %}