{% extends "base.html" %}

{% load contribution_tags %}

{% load static %}

{% block title %}
    My 
    {% if type == 'health' %}Health{% elif type == 'pension' %}Pension{% endif %} 
    Savings
{% endblock %}

{% block content %}
<h1>
    My 
    {% if type == 'health' %}Health{% elif  type == 'pension' %}Pension{% endif %}  
    Savings
</h1>
  {% if savings %}
  <table class="main-tbl">
    <thead>
      <tr>
        <th>Narration</th>
        <th>Amount</th>
        <th>Day of payment</th>
      </tr>
    </thead>
    <tbody>
        {% for saved in savings %}
        <tr>
          <td>{{ saved.narration }}</td>
          <td>{{ saved.amount|floatformat:"2g" }}</td>
          <td>{{ saved.created }}</td>
        </tr>
        {% endfor %}
      {% else %}
        <p>
            No 
            {% if type == 'health' %}health{% elif  type == 'pension' %}pension{% endif %}   
            contributions yet.
        </p>
    </tbody>
    {% endif %}
  </table>
{% if savings %}{% include "pagination.html" with page=savings %}{% endif %}
{% endblock %}

{% block sidebar_summary %}
<div class="card" style="width: 18rem;">
    <div class="card-header text-center bg-dark text-white">
        Total
        {% if type == 'health' %}Health{% elif type == 'pension' %}Pension{% endif %}
        Contributions
    </div>
    <div class="card-body">
      {% if savings %}
      <table class="side-tbl">
        <thead>
          <tr>
            <th>Amount</th>
            <th>Year</th>
          </tr>
        </thead>
        <tbody>
          {% tag_total_savings request.user.id type %}
        </tbody>
      </table>
      {% else %}
        No contributions yet.
      {% endif %}
  </div>
</div>
{% endblock %}