{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}My Health Contributions{% endblock %}

{% block content %}
  <h1>My Health Contributions</h1>
    <table class="tbl">
      <thead>
        <tr>
          <th>Narration</th>
          <th>Amount</th>
          <th>Created</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        {% for contribution in health_fund %}
        <tr>
          <td>{{ contribution.narration }}</td>
          <td>{{ contribution.amount }}</td>
          <td>{{ contribution.created }}</td>
          <td>{{ contribution.type }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}

{% block sidebar %}
  <h5>My Total Health Contributions</h5>
  <p>These are my Contributions.</p>
{% endblock %}