{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/hwlc.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

            <div class="container">
                <a class="navbar-brand" href="#">HWLC</a>

                {% if request.user.is_authenticated %}

                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbar">
                    <ul class="nav navbar-nav">
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Hello, {{ request.user.first_name|title }}
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a {% if section == "dashboard" %}
                                class="nav-link active"
                               {% else %}
                                class="nav-link"
                               {% endif %}
                               href="{% url 'dashboard' %}">
                               Dashboard
                            </a>
                        </li>
                        <div class="dropdown">
                            <a {% if section == "contribution" %}
                                class="nav-item nav-link active dropdown-toggle caret-off"
                               {% else %}
                                class="nav-item nav-link dropdown-toggle caret-off"
                               {% endif %}
                                href="#" role="button" id="dropdownMenuContrib" data-bs-toggle="dropdown" aria-expanded="false">
                                Contributions
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuContribution">
                                <li>
                                    <a class="dropdown-item" href="{% url 'contribution:savings' %}">
                                        All Savings
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'contribution:savings' 'health' %}">
                                        &#45;&#45;&nbsp;Health
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'contribution:savings' 'pension' %}">
                                        &#45;&#45;&nbsp;Pension
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'contribution:withdrawals' %}">
                                        All Withdrawals
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'contribution:withdrawals' 'health' %}">
                                        &#45;&#45;&nbsp;Health
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'contribution:withdrawals' 'pension' %}">
                                        &#45;&#45;&nbsp;Pension
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <a {% if section == "next-of-kins" %}
                                class="nav-item nav-link active dropdown-toggle caret-off"
                               {% else %}
                                class="nav-item nav-link dropdown-toggle caret-off"
                               {% endif %}
                                href="#" role="button" id="dropdownMenuContrib" data-bs-toggle="dropdown" aria-expanded="false">
                                Next of Kins
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuNextOfKin">
                                <li>
                                    <a class="dropdown-item" href="{% url 'contribution:next_of_kin' %}">
                                        Summary
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'contribution:next_of_kin_add' %}">
                                        Add New
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <a {% if section == "account" %}
                                class="nav-item nav-link active dropdown-toggle caret-off"
                               {% else %}
                                class="nav-item nav-link dropdown-toggle caret-off"
                               {% endif %}
                                href="#" role="button" id="dropdownMenuAccount" data-bs-toggle="dropdown" aria-expanded="false">
                                Account
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuAccount">
                                <li>
                                    <a class="dropdown-item" href="{% url 'edit' %}">
                                        Edit Profile
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'password_change' %}">
                                        Change Password
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'logout' %}">
                                        <span style="color: red;">Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </ul>
                </div>

                {% else %}

                <ul class="navbar-nav nav">
                    <li class="nav-item">
                        <a class="nav-link btn btn-danger active" href="{% url 'admin:index' %}" role="button"><i class="fa-regular fa-id-card-clip"></i>&nbsp;Admin&nbsp;</a>
                    </li>
                </ul>

                {% endif %}
                
            </div>
        </nav>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message|safe }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="container">
            <div class="row"> 
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="col-12 col-md-4">
                    {% if request.user.user_profile %}
                        {% block sidebar_profile %}
                        <div class="card" style="width: 18rem;" id="sidebar_profile">
                            <div class="card-header text-center bg-dark text-white">
                                My profile
                            </div>
                            <img src="{% if request.user.user_profile.photo %}
                                        {{ request.user.user_profile.photo.url }}
                                      {% else %}
                                        {% static 'img/no-image-M.jpg' %}
                                      {% endif %}"
                                  class="card-img-top"
                                  alt="Member profile photo">
                            <div class="card-body">
                              <p>
                                <span class="prefix">Name:&nbsp;</span>
                                {% if request.user.first_name and request.user.last_name %}
                                    {{ request.user.first_name|title }}&nbsp;{{ request.user.last_name|title }}
                                {% endif %}
                              </p>
                              <p>
                                <span class="prefix">Email:&nbsp;</span>
                                {% if request.user.email %}
                                    {{ request.user.email }}
                                {% endif %}
                              </p>
                              <p>
                                <span class="prefix">Telephone:&nbsp;</span>
                                {% if request.user.user_profile.telephone != '' %}
                                    {{ request.user.user_profile.telephone }}
                                {% else %}
                                    Not set
                                {% endif %}
                              </p>
                              <p>
                                <span class="prefix">DOB:&nbsp;</span>
                                {% if request.user.user_profile.date_of_birth is not None %}
                                    {{ request.user.user_profile.date_of_birth|date:"D, d M Y" }}
                                {% else %}
                                    Not set
                                {% endif %}
                              </p>
                              <p>
                                <a class="btn btn-secondary" 
                                   href="{% url 'edit' %}" 
                                   role="button">
                                   <i class="fa-solid fa-circle-user"></i>&nbsp;
                                    Edit
                                </a>
                              </p>
                            </div>
                          </div>
                        {% endblock %}
                    {% endif %}
                    
                    {% block sidebar_summary %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {% block extra-js %}{% endblock %}
    </body>
</html>